body{
    font-family: 'neue';
}

button{
    font-family: inherit;
}

.container{
    display: flex;
    justify-content: center;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.items{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-items: center;
    grid-row-gap: 100px;
}


@font-face {
    font-family: "neue";
    src: url("src/assets/fonts/NeueMontreal-Regular.otf");
}
